*{
    font-family: 'Mulish', sans-serif;
}

body{
    overflow-x: hidden !important;
}

.text-main{
    color: #458FF6;
}
.btn-main{
    background-color: #458FF6;
    color: white;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 30px;
}
.btn-main:hover{
    color: white;
    box-shadow: 3px 3px 8px #adcfff;
}
.btn-outline-main{
    border: 1px solid #458FF6;
    color: #458FF6;
    border-radius: 30px;
    font-size: 16px;
    padding: 10px 30px;
}
.btn-outline-main:hover{
    background-color: #458FF6;
    color: white;
}

.fs-0{
    font-size: 50px;
}

.rounded-20{
    border-radius: 20px;
}
.rounded-top-20{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.bg-main-grad{
    background: linear-gradient(35deg, #67C3F3, #5A98F2);
}


#services{
    background: url(../img/service_back.png);
    background-size: cover;
}